@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

.box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.box-header ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.box {
    width: 100%;
    max-width:500px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    justify-items: center;
}

h1 {
    font-size: 30px;

}

span {
    color: #7494ec;
}

h1, p {
    text-align: center;
}

.box p {
    font-size: 22px;
    margin-bottom: 12px;
}

.box button {
    display: block;
    width: 300px;
    margin: 0 auto;
}

button {
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}
